.add_member_button  
{
    padding: 2%;
    width: 40%;
    font-size: 200%;
    font-weight: 700;
    border: 2px solid black;
    margin: 5%;
    margin-top:2%;
    margin-bottom: 2%;
    /* padding: 100%; */
}
#hideform {display:none;}
#formInfo
{
    box-sizing: border-box;
    border: 2px solid black;
}